
.finance-periods {
    .dropdown-selected,
    .dropdown-item {
        width: 200px;
    }
}
.finance-currency,
.finance-operators {

    .dropdown-selected,
    .dropdown-item {
        width: 80px;
    }
}
.finance-value{
    min-width: 300px;

}
.finance-plus{
    font-size: 35px;
    margin-top: 18px;

}