
.finance-periods {
    .dropdown-selected,
    .dropdown-item {
        width: 200px;
    }
}

.finance-currency,
.finance-operators {

    .dropdown-selected,
    .dropdown-item {
        width: 80px;
    }
}

.finance-value {
    min-width: 300px;

}

.form-control {
    &.form-control--finval {
        width: calc(100% - 223px);
    }
}
