@import "companies/finance/finance";

.search {
    background-color: $backgroud-blue;
    padding: 20px;
    display: block;
    color: $white;
    border-radius: 5px;
    &--with-tabs {
        border-top-left-radius: 0;
    }
    &--without-bottom {
        padding-bottom: 0;
        border-bottom-left-radius: 0;
        border-bottom-right-radius: 0;
    }
    &--without-top {
        padding-top: 0;
        border-top-left-radius: 0;
        border-top-right-radius: 0;
    }
    &__input {
        margin-right: 100px;
    }
    &__button {
        width: 80px;
    }

    &__checkbox {
        cursor: pointer;
    }
    &__tab-mode {
        padding: 5px 10px;
        &--first {
            padding-left: 0;
        }
        &--first.active,
        &.active {
            padding-left: 10px;
            background-color: $white;
            border-top-left-radius: 5px;
            border-top-right-radius: 5px;
            .dashed {
                color: $black;
            }
        }

    }
}

.search-advanced {
    background-color: $white;
    color: $black;
    padding: 20px;
    border-radius: 5px;
    &--with-tabs {
        border-top-left-radius: 0;
    }
    &__input {
        margin-bottom: 20px;
    }
}

